<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>

</head>

<body>

  <div class="limiter" align="center">
    <div class="container-login100">
      <div class="wrap-login100 p-b-160 p-t-50">

        <span class="login100-form-title p-b-43">
          A simple Login App
        </span>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" ng-click="goToLogin()">
            Login
          </button>
          <button class="login100-form-btn" ng-click="register()">Register</button>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
